@font-face {
    font-family: "brandon_bold";
    src: url("../fonts/brandon/Brandon_bld.otf");
}
@font-face {
    font-family: brandon;
    src: url("../fonts/brandon/Brandon_light.otf")
}
html, body {
    -webkit-font-smoothing: antialiased!important;
    font-smoothing: antialiased!important;
    height: 100%;
    margin: 0;
    text-rendering: optimizeLegibility!important;
    width: 100%
}
body {
    overflow: hidden
}
#landing {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: url("../imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
    left: 0;
    overflow: hidden;
    padding: 0 1.25em;
    top: 0;
    user-select: none;
    white-space: nowrap;
    width: 100%
}
.bg-layer {
    background: rgba(75, 119, 190, 0.66);
    background-blend-mode: screen;
    border: 0 solid #FFF;
    height: 100vh!important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
#logo {
    -webkit-transform: translate(-50%, -50%);
    border-radius: 50%;
    height: auto;
    left: 50%;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15em
}
.text-logo {
    -webkit-transform: scale(.01, .01);
    font-family: brandon_bold;
    font-size: 6em;
    letter-spacing: .075em;
    margin-top: 10%;
    position: relative;
    transform: scale(.01, .01);
    white-space: normal
}
#particles-js {
    _boldheight: 100%;
    height: 100%;
    position: absolute;
    width: 100%
}
#about-adj {
    height: 8em;
    position: relative;
    top: -3.95em
}
#i-am {
    -webkit-transform: scale(.01, .01);
    display: inline-block;
    transform: scale(.01, .01)
}
#about-adj span {
    font-family: brandon;
    font-size: 400%;
    margin-left: .18em;
    white-space: normal
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
/*and (-webkit-min-device-pixel-ratio: 2)*/

and (orientation: portrait) {
    .text-logo {
        margin-top: 40%;
        font-size: 5em;
    }
    #about-adj {
        margin-top: 25%;
    }
    #about-adj span {
        font-size: 310%;
    }
    #about-adj span:nth-child(2):before {
        content: '\A';
        white-space: pre-wrap;
    }
}
#about-adj .adj-list {
    font-family: brandon_bold;
    line-height: .8em
}
#page-bar {
    position: absolute;
    display: inline-block;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 37.61em
}
.page-button {
    border: solid #FFF .185em;
    float: left;
    margin-right: 1.875em
}
.page-button a {
    padding-left: .4em;
    padding-right: .4em;
    display: block;
    color: #FFF;
    font-size: 160%;
    letter-spacing: .095em;
    text-decoration: none;
    text-align: center
}
.content-container {
    -webkit-transform: translateX(-50%);
    color: #6C7A89;
    height: 80%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 80%
}
#close {
    cursor: pointer;
    margin-left: 96.5%;
    padding-bottom: .75em;
    position: relative;
    width: 2em;
    z-index: 9
}
#close div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #c40d1a;
    height: 2px;
    margin: 7px auto;
    width: 100%
}
.one {
    -webkit-transform: rotate(45deg) translate(0px, 2px);
    transform: rotate(45deg) translate(0px, 2px)
}
.two {
    -webkit-transform: rotate(-45deg) translate(5px, -5.5px);
    transform: rotate(-45deg) translate(5px, -5.5px)
}
.page {
    height: 80%;
    left: 2%;
    overflow-y: auto;
    position: absolute;
    visibility: hidden
}
.page-button:hover a, .button-clicked a {
    color: #4B77BE
}
.visible {
    visibility: visible
}
#selfie, #selfie img {
    max-height: 80%;
    max-width: 30%;
    padding-left: 0;
    padding-right: 0;
    margin-left: -2.5%;
    position: fixed
}
#my-work, #contact-me {
    overflow-y: hidden
}
.email {
    color: #4B77BE;
    font-family: Roboto;
    font-size: 130%;
    font-weight: 300
}
.email a {
    color: #b0bec5;
    font: size: 1.65em;
    font-family: Roboto;
    font-weight: 200
}
.social-bar {
    margin-top: -0.75em;
    list-style: none;
    width: 100%
}
.social-bar li {
    display: inline-block
}
.social-bar a {
    margin-left: 1em;
}
.social-bar a img {
    border-radius: 50%;
    width: 70px
}
.page-button:hover, .button-clicked {
    background: #FFF
}
